@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        135deg,
        #005e03, 
        #0a7610, 
        #006705, 
        #2e8e174b   
    );
    background-size: 200% 200%; /* Para animação */
    animation: gradientAnimation 10s ease infinite; /* Animação do gradiente */
    color: #333;
    text-align: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    position: relative;
}

.logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    
}

.project-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: white; /* Texto branco para contraste */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero h1 {
    font-size: 48px;
    margin: 10px 0;
    color: white; /* Texto branco para contraste */
}

.hero span {
    color: #C8E6C9; /* Verde claro para destaque */
}

.hero p {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto 20px;
    color: white; /* Texto branco para contraste */
}

.cta-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.cta {
    padding: 12px 25px;
    font-size: 18px;
    color: white;
    background: #388E3C; /* Verde escuro */
    text-decoration: none;
    border-radius: 0; /* Botões retangulares */
    transition: all 0.3s ease;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.cta.secondary {
    background: #2E7D32; /* Verde mais escuro */
}

.cta:hover {
    transform: scale(1.05);
}

.features {
    padding: 50px 20px;
    background: #F5F5F5; /* Cinza claro para fundo */
    color: #333;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2c5037; /* Cor escura para contraste */
}

.feature-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature {
    max-width: 300px;
    padding: 20px;
    background: #FFFFFF; /* Fundo branco para os cards */
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.cta-section {
    padding: 50px 20px;
    background: #1B5E20; 
    color: white;
}

footer {
    background: #114915; /* Verde quase floresta */
    padding: 20px;
    color: white;
    text-align: center;
}